<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

    
        <!-- Custom CSS -->
        <link rel='stylesheet' href='/stylesheets/contact.css' />
        <link rel='stylesheet' href='/stylesheets/footer.css' />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://ip.team71.link/">IP Address Checker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://ip.team71.link/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ip.team71.link/api-docs">API Docs</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://ip.team71.link/contact-us">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ip.team71.link/privacy-policy">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="maincontainr">
        <div class="heading">
            <h1 class="heading-contact">
                Contact Us
            </h1>
        </div>
        <div class="des-contact">
            <p class="contact-p">
                Thank You for try to contact us. IP Address Checker is a open-source project to get IP information. We are using IP2Location free database. It can be show some wrong IP info. 
                We are try to get thier paid database if we get a well amount of donation.
            </p>

            <p class="second-part-con">
                If you face any problem of our APIs. You can connect us. We will help you.
            </p>
            <div class="contact-details">
                <div class="email">
                    <p class="emailText"><b>Email: </b></p>
                    <p class="email-address">
                        <a href="mailto:rmtomal11@gmail.com">rmtomal11@gmail.com</a>
                    </p>
                </div>
                <div class="email">
                    <p class="emailText"><b>Whatsapp: </b></p>
                    <p class="email-address">
                        <a href="https://wa.me/+8801738619197">Whatsapp contact</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="buttom-footer">
        <div class="footer">
            <p class="footer-des">
              Develop by all GIT contributors.<br>Project resources <a href="https://github.com/rmtomal00/ipaddressfinder.git" target="_blank" class="git-link">GIT</a>
            </p>
            <p class="thank-s">
              Thanking by <a href="https://github.com/rmtomal00" class="first-create" target="_blank">Website Owner</a>
            </p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>