<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IP Address Checker with Free API</title>
    <meta name="description" content="Use IP Address Checker to find your public IP address and get additional details about your connection. We give you IP Checker API Free">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://ip.team71.link/">
    <meta property="og:title" content="IP Address Checker">
    <meta property="og:url" content="https://ip.team71.link/">
    <meta name="keywords" content="IP location lookup, Free IP geolocation API, IP address tracker, Check IP location online, Real-time IP tracking, Locate IP address, Best IP tracker tool, Free IP lookup service, IP geolocation tool, IP API free tier, Free IP checker, IP checker api free">


    <!-- Prism.js for Syntax Highlighting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://ip.team71.link/">IP Address Checker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="https://ip.team71.link/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ip.team71.link/api-docs">API Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ip.team71.link/contact-us">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ip.team71.link/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main-container-body">
      <div class="header">
        <h1 class="start-page-header-banner">IP Address Location</h1>
        <p class="sub-heading">
          We are giving you unlimited calling free API for get IP address location.
        </p>
        <div class="user-ip-withlocation">
          <h2 class="user-ip" id="ip"><%= ip %></h2>
          <div class="code-container">
            <pre><code class="language-javascript" id="dataset">
{
  data: "data"
  number: 10,
  bool: true
}
            </code></pre>
          </div>
        </div>
      </div>
      <div class="body">
        <p class="project-des-home">
          <b>IP to Location</b> is an open-source project that transforms IP addresses into meaningful geographical insights.
           With a focus on simplicity and efficiency, it provides accurate location data, including country, city, and timezone information, empowering developers to build smarter, location-aware applications.
            Open to contributions, this project invites a collaborative community to enhance its features and expand its reach.
            We are giving the project link below you can contribute us and optimize the project. 
        </p>
        <div class="donation-first-page">
          <h2 class="donete-us">Donate us with Binance</h2>
          <form action="https://google.com" method="get" class="form" id="form">
            <label for="email" class="email">Email</label>
            <input type="email" name="email" id="email" class="email-address" placeholder="Enter Email">
            <label for="amount" class="amount">Amount</label>
            <input type="number" name="amount" id="amount" class="amount-input" step="any" placeholder="Enter Amount">
            <div class="error-container">
              <p class="error" id="error-msg">
                Message
              </p>
            </div>
            <button type="submit" class="button">Submit</button>
          </form>
        </div>
        <div class="payment-link" id="payment-link">
          <div class="list">
            <p class="link-name">QR Code link: </p>
            <a href="#" id="Qr-code-link">QR Code of payment</a>
          </div>
          <div class="list">
            <p class="link-name">Payment Link: </p>
            <a href="#" id="paymentlink">Payment link</a>
          </div>
        </div>
        <div class="donation-descrip-home">
          We need your helping hand also to manage the server.
           This server has some hosting fee and maintaining charge. We can't run long time if you don't support us. 
           Now we are you <a href="https://www.ip2location.com/" class="ip2loca" target="_blank">IP2Location</a> free database.
           If we get the amount of support we will buy their paid database which is more accurate and set up on this project.
        </div>

        <div class="api-page-linking">
          <p class="api-link">
            If your are searching the API document and more information of APIs.
          </p>
          <a href="https://ip.team71.link/api-docs" class="api-doc-link">Get API Docs</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <p class="footer-des">
        Develop by all GIT contributors.<br>Project resources <a href="https://github.com/rmtomal00/ipaddressfinder.git" target="_blank" class="git-link">GIT</a>
      </p>
      <p class="thank-s">
        Thanking by <a href="https://github.com/rmtomal00" class="first-create" target="_blank">Website Owner</a>
      </p>
    </div>


    <script>
      const Ip = document.getElementById("ip")
      const setUpResponeId = document.getElementById("dataset")
      const ip_address = Ip.textContent
      fetch(`https://ip.team71.link/public/get-my-ip-data`)
      .then(res => res.json())
      .then((result)=>{
        if (result.error) {
          setUpResponeId.textContent = JSON.stringify(result, null, 2)
        }else{
          const resData = result.data
          const updateData = {
            "ip_from": resData["ip_from"], 
            "ip_to": resData.ip_to,
            "ip": resData.ip,
            "country_code": resData.country_code,
            "country": resData["country"],
            "region_name": resData["region_name"],
            "city_name": resData["city_name"],
            "timezone": resData["timezone"]
          }
          Ip.textContent = resData.ip;
          setUpResponeId.textContent = JSON.stringify(updateData, null, 2)
        }
        console.log(result);
        Prism.highlightElement(setUpResponeId);
      });

    </script>

    <script>
      const button = document.getElementById("form");
      const email = document.getElementById('email');
      const amount = document.getElementById('amount')


      const error = document.getElementById('error-msg');
      const displayLink = document.getElementById('payment-link');
      const setupQrcode = document.getElementById('Qr-code-link');
      const setupLinkcode = document.getElementById('paymentlink');

      button.addEventListener('submit',(event) =>{
          event.preventDefault();

          error.style.display = "none"
          
          const getEmail = String(email.value).trim();
          const getAount = amount.value;
          console.log(`email: ${getEmail}, amount: ${getAount}`);
          

          if (getAount < 0.5){
            error.textContent = "USDT amount should be more then 0.5";
            error.style.display = "block"
            return;
          }


          fetch('https://ip.team71.link/public/get-payment-link',{
            headers: {
              "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify({
              email: getEmail,
              amount: Number(getAount)
            })
          }).then(res => res.json())
          .then((result)=>{
            if (result.error) {
              error.textContent = result.message;
              error.style.display = "block"
            }else{
              const loadData = result.data;

             
              setupQrcode.setAttribute('href', loadData['qrcodeLink'])
              setupQrcode.setAttribute("rel", "noopener noreferrer");
              setupQrcode.setAttribute('target', '_blank')


              setupLinkcode.setAttribute('href', loadData["universalUrl"]);
              setupLinkcode.setAttribute("rel", "noopener noreferrer");
              setupLinkcode.setAttribute('target', '_blank')
              displayLink.style.display = 'flex'
            }
          })
          
      })
    </script>

    <!-- Bootstrap and JS Dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
